ion-content {
  overflow-y: scroll;
}
app-drawer {
  animation: none;
}
.container {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  margin-bottom: 115px;
}

.backdrop {
  width: 100%;
  height: 100%;
  visibility: hidden;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.52),
    rgba(0, 0, 0, 0)
  ) !important;
  z-index: 3;
  position: absolute;
}

.fade {
  transition: 0.5s linear all;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  transition: 0.5s linear all;
  opacity: 1;
}

ion-tabs {
  z-index: 0;
}

ion-img {
  margin-top: -20px;
  position: absolute;
}

ion-button {
  border: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.md {
  ion-button {
    box-shadow: none;
  }
}
// Buttons
.weather,
.ପାଣିପାଗ {
  --background: url(../../../../assets/home/buttons/weather_ic.svg);
}
.lightning,
.ବଜ୍ରପାତ {
  --background: url(../../../../assets/home/buttons/lightning_ic.svg);
}
.heatwave,
.ଗ୍ରୀଷ୍ମ {
  --background: url(../../../../assets/home/buttons/heatwave_ic.svg);
}
.agriculture,
.କୃଷି {
  --background: url(../../../../assets/home/buttons/agriculture_ic.svg);
}
.flood,
.ବନ୍ୟା {
  --background: url(../../../../assets/home/buttons/flood_ic.svg);
}
.ocean,
.ସମୁଦ୍ର {
  --background: url(../../../../assets/home/buttons/occean_ic.svg);
}
.road,
.ସଡକ {
  --background: url(../../../../assets/home/buttons/road_ic.svg);
}
.snakebite,
.ସର୍ପାଘାତ {
  --background: url(../../../../assets/home/buttons/snake_ic.svg);
}

.report,
.ବିବରଣୀ {
  --background: url(../../../../assets/home/buttons/report_ic.svg);
}

.statistics,
.ପରିସଂଖ୍ୟାନ {
  --background: url(../../../../assets/home/buttons/stats_ic.svg);
}

.ios {
  ion-button {
    --background-activated: rgba(20, 20, 20, 0.096);
  }
  ion-card-header {
    padding: 16px;
  }
  ion-card-content {
    padding: 0 16px 13px;
  }
}

.button-text {
  font-size: 0.8rem;
  white-space: nowrap;
}

.more-btn {
  height: 20px;
  width: 52px;
  font-size: 0.7rem;
  text-transform: capitalize;
}

ion-card {
  // min-height: 210px;
  // max-height: 210px;
}
ion-card-header {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(12, 12, 12);
}

.card-header-date {
  font-size: 0.9rem;
  float: right;
  font-weight: 400;
}

.card-temperature {
  color: var(--ion-color-primary);
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Alata", sans-serif !important;
}

.card-condition {
  color: var(--ion-color-primary);
  font-weight: 500;
  font-size: 1.5rem;
  min-width: 42px !important;
}

.card-location {
  display: flex;
  letter-spacing: 0.3px;
  margin-top: 10px;
  z-index: 2;

  ion-icon {
    transform: scale(1.5);
  }
  p {
    margin-left: 7px;
  }
}

ion-label {
  text-transform: capitalize;
}
.last-update {
  font-size: 0.7rem;
  opacity: 0.5;
  margin-left: 5px;
}
.refresh {
  font-size: 1.0001rem;
  opacity: 1;
  right: 16px;
  position: absolute;
  top: 122px;
  ion-icon:focus,
  ion-icon:hover {
    color: var(--ion-color-primary);
  }
}

.translate-btn {
  box-shadow: none;
  --border-radius: 0px !important;
  --background-activated: rgba(20, 20, 20, 0.096);
  position: absolute;
  z-index: 100;
  height: 25px;
  margin: auto 20px;
}
.translate-btn-en {
  --background: url(../../../../assets/home/buttons/translate_en.svg) no-repeat
    center;
}
.translate-btn-od {
  --background: url(../../../../assets/home/buttons/translate_od.svg) no-repeat
    center;
}

.entity-container {
  position: relative;
  border-width: 2px;
  border-color: black;
  ion-card {
    max-height: 85px;
    min-height: 85px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #0000002d;
  }
  ion-row {
    ion-col {
      img {
        max-height: 75px;
      }
    }
  }
}

@media screen and (max-height: 740px) {
  .container {
    position: relative;
  }
}

.loc-skeleton {
  height: 13px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 7px;
  width: 150px;
  border-radius: 4px;
}

.loc-condition-skeleton {
  height: 30px;
  width: 170px;
  margin-bottom: 4px;
  border-radius: 6px;
}
.loc-temperature-skeleton {
  height: 13px;
  width: 40px;
  margin-bottom: 0px;
}
.flash-alert {
  background: hsl(200, 100%, 96%);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  .roll-text {
    span {
      font-weight: 400;
    }
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 5s infinite linear;
    padding-left: 100%;
    color: #383838;
  }

  .roll-text:hover {
    animation-play-state: paused;
  }

  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }
}
