<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>488937344040-a8quh3soppr6nil4mnciqf74opjft9oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488937344040-a8quh3soppr6nil4mnciqf74opjft9oa</string>
	<key>API_KEY</key>
	<string>AIzaSyAV_U5fJUaBXKzz2XwgwjMbsNB8m0fAF_U</string>
	<key>GCM_SENDER_ID</key>
	<string>488937344040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>satark.app.io.ionic</string>
	<key>PROJECT_ID</key>
	<string>satark-1088e</string>
	<key>STORAGE_BUCKET</key>
	<string>satark-1088e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488937344040:ios:625c262ca4742a27</string>
	<key>DATABASE_URL</key>
	<string>https://satark-1088e.firebaseio.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
  	<string>To take photo and store in the database</string>
	<key>NSMotionUsageDescription</key>
  	<string>To detect location and send notification</string>
	<key>NSLocationWhenInUseUsageDescription</key>
  	<string>To detect location and send notification</string>
</dict>
</plist>