.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.bottom-bg {
  text-align: center;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    50deg,
    rgb(1, 97, 178),
    rgb(0, 102, 166)
  ) !important;
  color: var(--ion-color-primary-contrast);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  margin: 0 4%;
}

.forgot {
  float: right;
}

.bottom-bg-content {
  margin-top: 50%;
}

.center-align {
  display: flex;
  align-items: center;
}

.outline-button {
  margin: 0 20%;
  border: 1px;
  bottom: 20px;
}

.login-button {
  margin: 0 auto;
  width: 50%;
}

.pipe {
  color: #0066a6;
  margin-left: 13px;
  font-size: 1.5rem;
}

ion-card-header {
  text-transform: uppercase;
  text-align: center;
}

ion-item {
  --background: #e7e7e7;
  --border-radius: 4px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}
ion-input {
  align-items: center;
  color: #686868;
  border: none;
  font-weight: 500;
}

ion-icon {
  transform: scale(1.8);
  margin-left: 20px;
  color: #454545;
}

ion-card {
  margin: 0 10%;
}

h1 {
  font-weight: 700;
  font-variant: small-caps;
}

ion-icon {
  color: #454545;
  width: 15px;
  padding: 0;
  margin-left: 10px;
}

ion-img {
  width: 100px;
  padding: 0;
  margin: auto;
}
