.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  // height: 100%;
  z-index: 1;
  height: calc(100% - 64px);
}

.loader-css-class {
  --background: #ffffff;
  border-radius: 10px !important;
  --spinner-color: var(--ion-color-primary);
}
