img {
  position: fixed;
  margin: 0 auto;
  width: 100vh;
  content: url(../../../assets/splash/splash.gif);
  height: 100vh;
  // height: 100%;
  z-index: 3;
  filter: contrast(115%);
}

ion-content {
  animation-name: fadein;
  // animation-duration: 1s;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
