<ion-content [scrollY]="false">
  <!-- <div>
    <img class="top-cloud" src="./../../../assets/splash/clouds.svg" />

    <img class="rect" src="./../../../assets/splash/rect_min.svg" />
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      "
    >
      <img class="state" src="../../../assets/splash/state.png" />
      <img class="logo" src="../../../assets/splash/logo.png" />
      <img class="text" src="../../../assets/splash/text.png" />
    </div>
  </div> -->

  <img />
</ion-content>
