.container {
  padding: 0 10px;
  margin: 0;
  height: 100%;
  width: 100%;
  text-transform: capitalize;
}

.headers {
  font-weight: 600;
  text-transform: capitalize;
}
.swiper-pagination {
  position: relative;
  margin: 5px auto;
}

.red-bullet {
  ul div::before {
    content: "\2022";
    transform: scale(1.8);
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
.green-bullet {
  ul div::before {
    content: "\2022";
    transform: scale(1.8);
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
