<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title type="small">{{"register-title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="container">
    <form [formGroup]="Form">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <br />
              <ion-text>
                <p style="color:var(--ion-color-primary)" class="ion-text-center">Please provide more information to
                  proceed
                  <br />
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2> Name <span class="required">*</span></h2>
              <ion-input formControlName="name" type="text" placeholder="Your name" minLength="3" maxLength="20" #name>
              </ion-input>
              <br />

              <h2> District <span class="required">*</span></h2>
              <ion-select formControlName="district" (ionChange)="getBlocks()" interface="action-sheet"
                placeholder="Select district" #district>
                <ion-select-option *ngFor=" let data of district_data">{{data.district_name}}</ion-select-option>
              </ion-select>
              <br />
              <h2> Block <span class="required">*</span></h2>
              <ion-select formControlName="block" (ionChange)="get_blocks_id()" interface="action-sheet"
                placeholder="Select block" #block>
                <ion-select-option *ngFor="let data of block_data">{{data.block_name}}</ion-select-option>
              </ion-select>
              <br />

              <h2> Email (Optional)</h2>
              <ion-input formControlName="email" type="email" placeholder="Your Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email>
              </ion-input>
              <br />

              <div class="select ion-padding-bottom">
                <ion-checkbox slot="start" formControlName="agree" #agree>
                </ion-checkbox>
                <ion-label style="margin-left: 7px;">
                  <p>I agree to terms and
                    conditions.</p>
                </ion-label>
              </div>
              <h2 class="ion-text-center"><a (click)="openPrivacy()">View privacy policy</a></h2>
              <br>
              <ion-button expand="block" size="default" class="login-button" (click)="signUp()">
                Done
              </ion-button>

              <br />

            </ion-col>
          </ion-row>
        </ion-card-content>


      </ion-card>
      <br />
    </form>
  </ion-grid>


</ion-content>