.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;

  ion-card {
    margin: 0 5%;
    min-height: 280px;

    ion-card-header {
      text-transform: uppercase;
      text-align: center;
    }
    ion-card-content {
      ion-text {
        P {
          font-size: 1rem;
        }
      }
    }
    ion-item {
      --background: #e7e7e7;
      --border-radius: 4px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
    ion-input {
      align-items: center;
      color: #686868;
      border: none;
      font-weight: 500;
    }
    ion-button {
      width: 70%;
      margin: auto;
    }
  }
}
form {
  height: 100%;
}
.pipe {
  color: #0066a6;
  margin-left: 5px;
  font-size: 1.5rem;
}
.bottom-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    width: 100%;
  }
}

swiper {
  height: 100%;
}

ion-content {
  height: 100%;
}

@media screen and (max-width: 320px) {
  .container {
    ion-card {
      margin: 0 5%;
    }
  }
}
