<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title type="small">{{"Email Registration" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bottom-bg">
    <ion-img src="../../../assets/login/landing_bottom_bg_.png"></ion-img>
  </div>
  <form>
    <swiper
      [config]="config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      #swiper
    >
      <!-- Slide 1 --- get email -->
      <ng-template swiperSlide>
        <ion-grid class="container">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col size="12">
                  <br />
                  <ion-text class="ion-text-center">
                    <p>
                      {{"Let's get some information from you, it wont take much
                      time" | translate}}
                      <br />
                      <span
                        style="
                          color: var(--ion-color-primary);
                          margin-top: 10px;
                        "
                      >
                        {{"Lets start with your email" | translate}}</span
                      >
                      <br />
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input
                    name="email"
                    type="email"
                    placeholder="{{'Your email id' | translate}}"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required
                    ngModel
                    #emailCtrl="ngModel"
                  >
                    <img
                      src="../../assets/login/mail_ic.svg"
                      style="margin-left: 10px"
                    />
                    <span class="pipe">|&nbsp;</span>
                  </ion-input>
                  <br />

                  <ion-button
                    expand="block"
                    size="default"
                    class="login-button"
                    (click)="moveToPassword(emailCtrl.value)"
                    [disabled]="!emailCtrl.valid"
                  >
                    {{"Next" | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </ng-template>

      <ng-template swiperSlide>
        <!-- Slide 2 --- otp-->
        <swiper-slide>
          <ion-grid class="container">
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size="12">
                    <ion-text class="ion-text-center">
                      <p>
                        <span
                          style="
                            color: var(--ion-color-primary);
                            font-weight: 500;
                          "
                          >{{"Put your password. Make it unique!" |
                          translate}}</span
                        >
                        <br />{{"Make it unique!!" | translate}}
                      </p>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      name="password"
                      type="password"
                      placeholder="{{'Password' | translate}}"
                      minlength="12"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*?[!@#$%^&*+`~'=?\|\]\[\(\)\-<>_/]).{8,}"
                      required
                      ngModel
                      #passwordCtrl="ngModel"
                    >
                      <img
                        src="../../assets/login/password_ic.svg"
                        style="margin-left: 10px"
                      />
                      <span class="pipe">|&nbsp;</span>
                    </ion-input>
                    <ion-text class="ion-text-center">
                      <p style="margin: 10px auto; color: rgb(156, 156, 156)">
                        {{"Passwords must be at least 12 characters, contain at
                        least one uppercase letter, special character and at
                        least one number" | translate}}
                      </p>
                    </ion-text>

                    <ion-button
                      expand="block"
                      size="default"
                      class="login-button"
                      (click)="signUp(passwordCtrl.value)"
                      [disabled]="!passwordCtrl.valid"
                    >
                      {{"Done" | translate}}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-grid>
        </swiper-slide>
      </ng-template>
    </swiper>
  </form>
</ion-content>
