ion-card-header {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  z-index: 10;
  // font-weight: 500;
  // color: rgb(254, 146, 45);
  padding-left: 30px;
}

.card-rain-level {
  color: var(--ion-color-primary);
  font-weight: 700;
  font-size: 2rem;
  font-family: "Alata", sans-serif !important;
}

.card-condition {
  color: var(--ion-color-primary);
  font-weight: 500;
  font-size: 1.5rem;
}

.card-location {
  display: flex;
  letter-spacing: 0.3px;
  margin-top: 10px;
  margin: auto;
  z-index: 3;

  ion-icon {
    transform: scale(1.6);
    padding-top: 2px;
  }
  p {
    margin-left: 7px;
    font-size: 1.001rem;
  }
}

ion-label {
  text-transform: capitalize;
}

.card-content-bg:first-child {
  margin-left: 0px;
}

.card-content-bg:last-child {
  margin-right: 0px;
}

.card-content-bg {
  height: 100%;
  width: 100%;
  height: 100%;
  margin: auto 5px;
  border-radius: 6px;
  position: relative;
  text-align: center;
  height: 60px;
  padding: auto 10px;
  font-family: "Alata", sans-serif !important;
  display: flex;
  font-size: 0.8rem;
  align-content: center;

  ion-label {
    font-weight: 500;
    margin: auto;
    font-size: 1.4rem;

    color: rgb(12, 12, 12);
  }

  div {
    margin: auto;
  }
  .temp-high {
    content: url("../../../../../assets/modules/weather/t_high.svg");
  }
  .temp-low {
    content: url("../../../../../assets/modules/weather/t_low.svg");
  }
  .cloud {
    content: url("../../../../../assets/modules/weather/clouds.svg");
  }
  .rain {
    content: url("../../../../../assets/modules/weather/rain.svg");
  }
  .wind {
    content: url("../../../../../assets/modules/weather/wind.svg");
  }
  .humidity {
    content: url("../../../../../assets/modules/weather/humidity.svg");
  }

  ion-label {
    font-weight: 500;
    margin: auto;
    font-size: 1.4rem;
  }
}

.card-content-bg {
  // background: #e3e3e3;
  background: var(--ion-color-primary);
  ion-label {
    font-weight: 400;
    margin: auto;
    color: white;
    font-size: 0.8rem;
  }
}

.card-icon-bg {
  border-radius: 10px 0 0 10px;
  height: 84px;
  width: 25%;
  background-color: var(--ion-color-primary);
  display: flex;
  align-items: center;

  .wrapper {
    margin: 0 auto;
    ion-icon {
      margin: auto;
      width: 50px;
      height: 50px;
      // content: url("../../../../../assets/modules/weather/weather_ic.svg");
      color: white !important;
    }
  }
}

.card-content-location {
  font-weight: 500;
  font-size: 1rem;
  margin-left: -11px;
  color: rgb(12, 12, 12);
}
.card-content-location::before {
  content: url("../../../../../assets/modules/lightning/loc.svg");
}
.card-content-tempetature {
  font-size: 1.5rem;
  font-weight: 500;
  span {
    font-family: "Alata", sans-serif !important;
  }
}
.headers {
  font-weight: 500;
  text-transform: capitalize;
}
.weather-icon {
  max-width: 25px;
  margin: 0 auto;
  color: #fff;
}
.weather-condition-img {
  // content: url("../../../../../assets/home/card/light_rain.gif");
  max-height: 100px;
  transform: scale(1.3);
  margin-top: -30px;
}

.weather-forcast {
  text-transform: capitalize;
}

.weather-forcast-details {
  text-align: center;
}
@media screen and (max-width: 320px) {
  ion-card-header {
    padding: 12px;
  }
  .weather-condition-img {
    transform: scale(1.2);
  }
  .card-location {
    margin-top: -20px;
    ion-icon {
      transform: scale(1);
    }
    p {
      margin-left: 4px;
    }
  }
  .weather-forcast-details {
    // font-size: 11px !important;
  }
}

.info-button {
  position: absolute;
  z-index: 100;
  right: -10px;
  margin: 10px 20px;
  height: 48px;
  width: 48px;
  --background: none;
  ion-icon {
    margin-top: 2px;
    transform: scale(1.4);
    color: var(--ion-color-primary);
  }
}

.entity {
  right: 45px;
  img {
    margin: -2.5px;
  }
}

@media screen and (max-width: 360px) {
  .info-button {
    right: -25px;
  }
  .entity {
    right: 33px;
  }
}
