<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>{{"Weather Forecast" | translate}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <div class="entity">
        <img src="../../../../assets/home/osdma_logo.png" />
        <img src="../../../../assets/home/imd_logo.png" />
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="info-button" (click)="openLegendInfo()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index: 10; margin-top: 10%">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading" class="skeleton-container">
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card"></div>
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card-desc"></div>
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card-desc"></div>
  </div>
  <ion-grid *ngIf=" (!loading) && (value_addtion_forecast_data !=null)">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>{{value_addtion_forecast_data[0]?.day_name | translate}},
            {{value_addtion_forecast_data[0]?.date}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col style="z-index: 10">
                  <!-- <ion-label class="card-rain-level">{{value_addtion_forecast_data[0]?.rainfall_dynamic}}mm
                  </ion-label> -->
                  <ion-label class="card-rain-level">{{value_addtion_forecast_data[0]?.rainfall}}mm
                  </ion-label>
                  <br />
                  <!-- <ion-label class="card-condition"
                    *ngIf="value_addtion_forecast_data[0]?.rain_status_value_addition == '1'">{{"No Rain" | translate}}
                  </ion-label> -->
                  <ion-label class="card-condition" *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '1'">{{"No
                    Rain" | translate}}
                  </ion-label>
                  <ion-label class="card-condition" *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '2'">
                    {{"Light Rain"|
                    translate}}</ion-label>
                  <ion-label class="card-condition" *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '3'">
                    {{"Moderate Rain" |
                    translate}}</ion-label>
                  <ion-label class="card-condition" *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '4'">
                    {{"Heavy Rain" |
                    translate}}</ion-label>
                  <ion-label class="card-condition" *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '5'">
                    {{"Very Heavy Rain"|
                    translate}}</ion-label>
                  <ion-label class="card-condition"
                    *ngIf="value_addtion_forecast_data[0]?.rain_status_value_addition == '6'">{{"Extremely Heavy Rain" |
                    translate}}</ion-label>
                </ion-col>
                <ion-col>
                  <!-- <ion-img *ngIf="value_addtion_forecast_data[0]?.rain_status_value_addition == '1'"
                    class="weather-condition-img" src="../../../../../assets/modules/weather/condition/no_rain.gif">
                  </ion-img> -->
                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '1'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/no_rain.gif">
                  </ion-img>

                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '2'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/light.gif">
                  </ion-img>
                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '3'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/moderate.gif">
                  </ion-img>
                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '4'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/heavy.gif">
                  </ion-img>
                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '5'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/heavy.gif">
                  </ion-img>
                  <ion-img *ngIf="value_addtion_forecast_data[0]?.rainfall_status == '6'" class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/very_heavy.gif">
                  </ion-img>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <div class="card-location">
                  <ion-icon src="../../../assets/home/card/location.svg"></ion-icon>
                  <p *ngIf="lHelper.lang=='en'">
                    {{current_location_block}}, {{current_location_district}}
                  </p>
                  <p *ngIf="lHelper.lang=='od'">
                    {{current_location_block_ory}},
                    {{current_location_district_ory}}
                  </p>
                </div>
              </ion-row>

              <ion-row>
                <ion-grid class="ion-no-padding ion-padding-top">
                  <ion-row>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon temp-high"> </ion-img>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.temp_max != null">
                          {{value_addtion_forecast_data[0]?.temp_max}}° C
                        </ion-label>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.temp_max == null">{{"Available Soon" |
                          translate}}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon temp-low"> </ion-img>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.temp_min != null">
                          {{value_addtion_forecast_data[0]?.temp_min}}° C
                        </ion-label>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.temp_min == null">{{"Available Soon" |
                          translate}}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon humidity"> </ion-img>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.humidity != null">
                          {{value_addtion_forecast_data[0]?.humidity}}%
                        </ion-label>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.humidity == null">{{"Available Soon" |
                          translate}}
                        </ion-label>
                      </div>
                    </ion-col>
                    <!-- <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon wind"> </ion-img>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.wind_speed != null">
                          {{value_addtion_forecast_data[0]?.wind_speed}}km/s
                        </ion-label>
                        <ion-label *ngIf="value_addtion_forecast_data[0]?.wind_speed == null">{{"Available Soon" |
                          translate}}
                        </ion-label>
                      </div>
                    </ion-col> -->
                  </ion-row>
                </ion-grid>
              </ion-row>
              <ion-row> </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf=" (!loading) && (value_addtion_forecast_data!=null)">
      <ion-col>
        <ion-label class="ion-padding-start">{{"Forecast for next 5 days" | translate}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="weather-forcast">
        <ion-card>
          <ion-grid>
            <ion-row style="color: var(--ion-color-primary)">
              <ion-col class="ion-text-center" style="padding-top: 5px; padding-left: 2px">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/day.svg">
                </ion-icon>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/rain.svg">
                </ion-icon>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/t_high_b.svg">
                </ion-icon>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/t_low_b.svg">
                </ion-icon>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/humidity_b.svg">
                </ion-icon>
              </ion-col>
              <!-- <ion-col class="ion-text-center">
                <ion-icon style="font-size: 1.3rem" src="../../../../../assets/modules/weather/wind_b.svg">
                </ion-icon>
              </ion-col> -->
            </ion-row>

            <ion-row *ngFor="let forcast of value_addtion_forecast_data" class="ion-no-padding weather-forcast-details">
              <ion-col style="color: #fe922d">
                {{forcast.day_name | translate}}
              </ion-col>
              <ion-col> {{forcast.rainfall}}mm </ion-col>
              <ion-col> {{forcast.temp_max}}°C </ion-col>
              <ion-col> {{forcast.temp_min}}°C </ion-col>
              <ion-col> {{forcast.humidity}}% </ion-col>
              <!-- <ion-col>
                {{forcast.wind_speed}}km/<span style="text-transform: lowercase">s</span>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!loading">
      <ion-col>
        <ion-label class="ion-padding-start headers">{{"Favourites"|translate}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!favLocData?.length">
      <ion-col>
        <ion-label class="ion-padding">
          <p style="text-align: center; font-size: 1.01rem">
            You haven’t added any favourites yet.
          </p>
        </ion-label>
      </ion-col>
    </ion-row>

    <div *ngIf="favLocData!=null">
      <ion-row class="ion-no-padding" *ngFor=" let favourite of favLocData" (click)="openFavLoc(favourite)">
        <ion-col class="ion-no-padding favourites">
          <ion-card class="ion-no-padding">
            <ion-card-content class="ion-no-padding">
              <ion-grid>
                <ion-row>
                  <ion-col class="card-icon-bg" size="2.5">
                    <div class="wrapper">
                      <ion-icon src="../../../../../assets/modules/weather/weather_ic.svg"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col class="ion-no-padding" size="8.8">
                    <ion-grid *ngIf="favourite?.forecast !=null">
                      <ion-row>
                        <ion-col class=" ion-no-padding ion-text-center">
                          <ion-label *ngIf="lHelper.lang=='en'" class="card-content-location">
                            &nbsp;{{favourite?.forecast[0]?.block_name}},
                            {{favourite?.forecast[0]?.district_name}}
                          </ion-label>

                          <ion-label *ngIf="lHelper.lang=='od'" class="card-content-location">
                            &nbsp;{{favourite?.forecast[0].block_name_ory}},
                            {{favourite?.forecast[0].district_name_ory}}
                          </ion-label>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-label class="card-content-tempetature">
                            <span>{{favourite.forecast[0].rainfall_dynamic}}mm</span>
                          </ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>

                  <ion-col class="ion-no-padding" size="0.7" style="display: flex; align-items: center">
                    <ion-icon src="../../../../../assets/modules/heatwave/more-next.svg"
                      style="margin: auto 0; font-size: 3rem">
                    </ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <p style="font-size: 10px; text-align: center; color: rgb(167, 167, 167)" class="ion-margin">
    {{"Forecast Data Source: Meteorological Centre Bhubaneswar, India
    Meteorological Department" | translate}}
  </p>
  <br>

</ion-content>