.container {
  padding: 0 10px;
  margin: 0;
  height: 100%;
  width: 100%;
}

ion-searchbar {
  --background: #f3f3f3;
  --border-radius: 5px;
  --padding-end: 10px;
  margin-left: -7px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --box-shadow: none;
}

ion-input {
  --background: #f3f3f3;
  border-radius: 5px;
  --padding-end: 10px;
  --inner-padding-start: 0px;
}
ion-searchbar::before {
  content: "";
}
ion-searchbar::after {
  content: "";
}
.grey {
  background-color: #f3f3f3;
  ion-item {
    background: #f3f3f3;
  }
}

.headers {
  font-weight: 600;
  text-transform: capitalize;
}

ion-item-option {
  border-radius: 4px;
  width: 70px;
  ion-icon {
    transform: scale(1.3);
  }
}
