<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>{{"Edit Favourites" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        class="back-button"
        defaultHref="/home"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          placeholder="{{'Search to add new favourites' | translate}}"
          [(ngModel)]="searchTerm"
          (ionInput)="filterItems($event)"
          >&nbsp;&nbsp;&nbsp;
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <div *ngIf="filtereditems">
        <ion-list style="position: absolute; z-index: 4; width: 100%">
          <ion-item *ngFor="let item of filtereditems" name="list_data">
            <ion-label (click)="addLocation(item.id)">
              {{item.block_name}}
              <span
                *ngIf="lHelper.lang=='od'"
                style="
                  font-size: 1.25rem;
                  font-weight: bolder;
                  color: var(--ion-color-sec);
                "
                >|</span
              >
              <span
                *ngIf="lHelper.lang=='od'"
                style="color: var(--ion-color-primary)"
              >
                {{item.block_name_ory}}</span
              >
            </ion-label>
            <!-- <ion-label
              (click)="addLocation(item.id)"
              *ngIf="lHelper.lang=='od'"
            >
              {{item.block_name_ory}}</ion-label
            > -->
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="filtereditems == null"></div>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-label class="ion-padding-start headers"
          >{{"Registered Location" | translate}}</ion-label
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" *ngIf="user_data">
          <ion-input disabled *ngIf=" this.lHelper.lang =='en'">
            &nbsp;&nbsp;
            <ion-icon src="../../../assets/home/card/location.svg"></ion-icon>
            &nbsp;{{user_data[0].block_name}}, {{user_data[0].district_name}}
          </ion-input>

          <ion-input disabled *ngIf=" this.lHelper.lang =='od'">
            &nbsp;&nbsp;
            <ion-icon src="../../../assets/home/card/location.svg"></ion-icon>
            &nbsp;{{ user_data[0].block_name_ory}}, {{
            user_data[0].district_name_ory}}
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-label class="ion-padding-start headers"
          >{{"Favourite Locations" | translate}}s<br />
          <span
            style="opacity: 0.7; font-size: 0.7rem; text-transform: none"
            class="ion-padding-start"
            >{{"Maximum of 5 locations can be added" | translate}}</span
          ><br />
          <span
            *ngIf="fav_loc_data"
            style="opacity: 0.7; font-size: 0.7rem; text-transform: none"
            class="ion-padding-start"
            >{{"(Swipe left to remove location)"| translate}}</span
          >
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!fav_loc_data">
      <ion-col>
        <ion-item lines="none" class="ion-text-center" style="color: #666666">
          <ion-label>{{"No favourites added"| translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item-sliding *ngFor="let data of fav_loc_data">
          <ion-item lines="none">
            <ion-label id="{{data.id}}" *ngIf="lHelper.lang=='en'"
              >{{data.block_name}}</ion-label
            >
            <ion-label id="{{data.id}}" *ngIf="lHelper.lang=='od'"
              >{{data.block_name_ory}}</ion-label
            >
            <ion-toggle
              slot="end"
              checked="data.get_notification == 'yes' || data.get_notification == null"
              item-right
              (ionChange)="changeNotificationState($event,data.id)"
            ></ion-toggle>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteLocation(data.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
