<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>{{ "Favourite" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    style="z-index: 10; margin-top: 10%"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading" class="skeleton-container">
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card"></div>
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card-desc"></div>
    <div class="skeleton skeleton-header"></div>
    <div class="skeleton skeleton-card-desc"></div>
  </div>
  <ion-grid *ngIf="!loading && value_addtion_forecast_data != null">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            {{ forecast_data[0].day_name }}, {{ forecast_data[0].fcst_date }}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col style="z-index: 10">
                  <ion-label class="card-rain-level"
                    >{{ value_addtion_forecast_data[0].rainfall_dynamic }}mm
                  </ion-label>
                  <br />
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '1'
                    "
                    >{{ "No Rain" | translate }}</ion-label
                  >
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '2'
                    "
                    >{{ "Light Rain" | translate }}</ion-label
                  >
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '3'
                    "
                    >{{ "Moderate Rain" | translate }}</ion-label
                  >
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '4'
                    "
                    >{{ "Heavy Rain" | translate }}</ion-label
                  >
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '5'
                    "
                    >{{ "Very Heavy Rain" | translate }}</ion-label
                  >
                  <ion-label
                    class="card-condition"
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '6'
                    "
                    >{{ "Extremely Heavy Rain" | translate }}</ion-label
                  >
                </ion-col>
                <ion-col>
                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '1'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/no_rain.gif"
                  >
                  </ion-img>

                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '2'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/light.gif"
                  >
                  </ion-img>
                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '3'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/moderate.gif"
                  >
                  </ion-img>
                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '4'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/heavy.gif"
                  >
                  </ion-img>
                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '5'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/heavy.gif"
                  >
                  </ion-img>
                  <ion-img
                    *ngIf="
                      value_addtion_forecast_data[0]
                        .rain_status_value_addition == '6'
                    "
                    class="weather-condition-img"
                    src="../../../../../assets/modules/weather/condition/very_heavy.gif"
                  >
                  </ion-img>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <div class="card-location">
                  <ion-icon
                    src="../../../assets/home/card/location.svg"
                  ></ion-icon>
                  <p *ngIf="lHelper.lang == 'en'">
                    {{ current_location_block }},
                    {{ current_location_district }}
                  </p>
                  <p *ngIf="lHelper.lang == 'od'">
                    {{ current_location_block_ory }},
                    {{ current_location_district_ory }}
                  </p>
                </div>
              </ion-row>

              <ion-row>
                <ion-grid class="ion-no-padding ion-padding-top">
                  <ion-row>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon temp-high"> </ion-img>
                        <ion-label *ngIf="forecast_data[0].temp_max != null"
                          >{{ forecast_data[0].temp_max }}° C
                        </ion-label>
                        <ion-label *ngIf="forecast_data[0].temp_max == null"
                          >{{ "Available Soon" | translate }}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon temp-low"> </ion-img>
                        <ion-label *ngIf="forecast_data[0].temp_min != null"
                          >{{ forecast_data[0].temp_min }}° C
                        </ion-label>
                        <ion-label *ngIf="forecast_data[0].temp_min == null"
                          >{{ "Available Soon" | translate }}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon humidity"> </ion-img>
                        <ion-label *ngIf="forecast_data[0].humidity != null"
                          >{{ forecast_data[0].humidity }}%</ion-label
                        >
                        <ion-label *ngIf="forecast_data[0].humidity == null"
                          >{{ "Available Soon" | translate }}
                        </ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="card-content-bg">
                      <div>
                        <ion-img class="weather-icon wind"> </ion-img>
                        <ion-label *ngIf="forecast_data[0].humidity != null"
                          >{{ forecast_data[0].wind_speed }}km/s
                        </ion-label>
                        <ion-label *ngIf="forecast_data[0].humidity == null"
                          >{{ "Available Soon" | translate }}
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
              <ion-row> </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!loading && forecast_data != null">
      <ion-col>
        <ion-label class="ion-padding-start">{{
          "Forecast for next 5 days" | translate
        }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="weather-forcast">
        <ion-card>
          <ion-grid>
            <ion-row style="color: var(--ion-color-primary)">
              <ion-col
                size="1.5"
                class="ion-no-padding ion-text-center"
                style="padding-top: 5px; padding-left: 2px"
              >
                {{ "Day" | translate }}
              </ion-col>
              <ion-col>
                <ion-icon
                  style="font-size: 1.3rem"
                  src="../../../../../assets/modules/weather/rain.svg"
                ></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon
                  style="font-size: 1.3rem"
                  src="../../../../../assets/modules/weather/temp_high_b.svg"
                >
                </ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon
                  style="font-size: 1.3rem"
                  src="../../../../../assets/modules/weather/temp_low_b.svg"
                >
                </ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon
                  style="font-size: 1.3rem"
                  src="../../../../../assets/modules/weather/humidity_b.svg"
                >
                </ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon
                  style="font-size: 1.3rem"
                  src="../../../../../assets/modules/weather/wind_b.svg"
                >
                </ion-icon>
              </ion-col>
            </ion-row>

            <ion-row
              *ngFor="let forcast of forecast_data"
              class="ion-no-padding weather-forcast-details"
            >
              <ion-col size="1.5" style="color: #fe922d">
                {{ forcast.day_name }}
              </ion-col>
              <ion-col> {{ forcast.rainfall_dynamic }}mm </ion-col>
              <ion-col> {{ forcast.temp_max }}°C </ion-col>
              <ion-col> {{ forcast.temp_min }}°C </ion-col>
              <ion-col> {{ forcast.humidity }}% </ion-col>
              <ion-col>
                {{ forcast.wind_speed }}km/<span
                  style="text-transform: lowercase"
                  >s</span
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p
    style="font-size: 10px; text-align: center; color: rgb(167, 167, 167)"
    class="ion-margin"
  >
    {{
      "Forecast Data Source:
    Meteorological
    Centre Bhubaneswar,
    India Meteorological
    Department"
        | translate
    }}
  </p>
</ion-content>
