<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title *ngIf="lang=='en'">{{district_name}}</ion-title>
    <ion-title *ngIf="lang=='od'">{{district_name_ory}}</ion-title>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">

  <div class="map-container">
    <div id="map" #map></div>
    <div id="skeleton" class="skeleton skeleton-card" style="height: 100vh; border-radius: 0"></div>
  </div>

</ion-content>