<ion-header class="ion-no-border ion-text-center" scrollY="false">
  <ion-toolbar>
    <ion-title>{{"Statistics" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center" *ngIf="lHelper.lang=='en'">
      <ion-col size="6" *ngFor="let item of statItems" class="ion-padding">
        <ion-button shape="round" class="{{item}}" (click)="routeTo(item)"></ion-button>
        <br />
        <ion-label class="button-text">{{ item | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="lHelper.lang=='od'">
      <ion-col size="6" *ngFor="let item of statItems_ory" class="ion-padding">
        <ion-button shape="round" class="{{item}}" (click)="routeTo(item)"></ion-button>
        <br />
        <ion-label class="button-text">{{ item | translate }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>